    <header class="sticky-top">
      <nav class="navbar navbar-expand-sm">  
        <ul class="navbar-nav">
         <a class="nav-link" href="#"><span class="prf">COVID</span><span class="prf">INDIA</span></a>
        </ul>
       <ul class="nav navbar-nav mx-auto">
            <li> 
              <a class="nav-link" href="#">Home</a>
            </li>
            <li>
              <a class="nav-link" href="#">About</a>
            </li>
            <li>
              <a class="nav-link" href="#">MYLIST</a>
            </li>
            <li>
              <a class="nav-link" href="#">INDIA</a>
            </li>
            <li>
              <a class="nav-link" href="#">WORLD</a>
            </li>
            <li>
              <a class="nav-link" href="#">GLOBAL</a>
            </li>
          </ul>   
       <ul class="navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link px-3" href="#"><span class="fa fa-facebook"></span></a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#"><span class="fa fa-github"></span></a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#"><span class="fa fa-linkedin"></span></a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#"><span class="fa fa-search"></span></a></li>
    </ul>
  </nav>
</header>
    