<div class="mt-5">
<footer class="footer">
    <div class="container-fluid">
          <p class="text-center p-2">THE SITE FOR YOUR CAMPAIGNS</p>
              
        <div class="row">
            <div class="col-3">
                <h6>Patient Care & Health Info</h6>
                <ul class="list-unstyled">
                  <li><a href="#">Healthy Lifestyle</a></li>
                  <li><a href="#">Research</a></li>
                  <li><a href="#">Symptoms A-Z</a></li>
                  <li><a href="#">Diseases & Conditions A-Z</a></li>     
                  <li><a href="#">Appointment</a></li>
                </ul> 
            </div>      
            <div class="col-3">
                <h6>Departments and centers</h6>
                <ul class="list-unstyled">
                  <li><a href="#">Doctors and Medical Staff</a></li>
                  <li><a href="#">Medical departments and Centers</a></li>
                  <li><a href="#">Research Centers & Programs</a></li>
                </ul>
            </div> 
            <div class="col-3">
                <h6>Inquiries</h6>
                <ul class="list-unstyled">
                  <li><a href="#">+91-301-348-1956</a></li>
                  <li><a href="#">covid@gmail</a></li>
                </ul> 
            </div>      
             <div class="col-md-3">
              <h6>Follow Us</h6>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item"><a class="nav-link mr-3" href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="nav-item"><a class="nav-link mr-3" href="#"><span class="fa fa-github"></span></a></li>
                    <li class="nav-item"><a class="nav-link mr-3" href="www.linkedin.com/in/akshay-dhere-977a431a8
                       "><span class="fa fa-linkedin"></span></a></li>
                </ul>
            	</div>			
            </div>
            <hr>
        <div class="footer-copyright text-center py-3">
      <a href="#" class="footer">Copyright © 2021 All rights reserved  Created By <label>Akshay Dhere</label></a>
    </div>
    </div>
</footer></div>
