<div class="container p-4">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="../assets/Cowin.jpg" width="100%">
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="../assets/Extension.jpg" width="100%">
        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="../assets/Test.jpg" width="100%" height="85%">
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="center-block col-6">         
            <p class="para">            
             Direct person to person transmission occurs through close contact, mainly through respiratory droplets that are released when the infected person coughs, sneezes or talks. These droplets may also land on surfaces where the virus remains viable.   
             Median incubation period is 5.1 days (range 2 to 14 days). As per current evidence, the period of infectivity starts 2 days prior to onset of symptoms and lasts up-to 8 days.        
             Most patients with Covid-19 predominantly have respiratory tract infection associated with SARS CoV 2 infection. Some of them may progress to severe and systematic disease characterized by Acute Respiratory Distress Syndrome (ARDS), sepsis and septic shock, multiorgan failure including acute kidney injury, acute cardiac injury.  
             Autopsy findings in adults in China, European countries showed endothelial damage of pulmonary vasculature, microvascular thromobosis and haemorrhage linked to extensive alveolar and interstitial inflammation that ultimately results in pulmonary intravascular coagulopathy, hypercoagulability impaired ventilation – perfusion, Acute Respiratory Distress Syndrome. Limited data are available for children.
             A patient with acute respiratory illness (fever and at least one sign/ symptom of respiratory disease, e.g. cough, shortness of breath), AND a history of travel to or residence in a location reporting community transmission of Covid – 19 disease during the 14 days prior to symptom onset.
             A patient with any acute respiratory illness AND having been in contact with a confirmed or probable Covid – 19 case in the last 14 days prior to symptom onset.  
            </p>
         </div>
         <div class="center-block col-6">         
            <p class="para">            
                Children with moderate Covid-19 disease should be admitted in Dedicated Covid Health Centre or Secondary level Healthcare Facility and monitored for clinical progress. Maintain fluid and electrolyte balance. Encourage oral feeds (breast feeds in infants); if oral intake is poor, intravenous fluid therapy should be initiated.
                Children with moderate Covid – 19 disease should be administered For fever: Paracetamol 10-15 mg/kg/dose. May be repeated every 4-6 hourly. (temperature > 38oC, i.e. 100.4oF).
            	Amoxycillin to be administered, if there is evidence/ strong suspicion of bacterial infection.
                For SpO2 below 94%, oxygen supplementation is required Corticosteriods may be administered in rapidly progressive disease. It is not required in all children with moderate illness, specifically during first few days of illness.
                Supportive care for comorbid conditions, if any Children with SpO2 level less than 90% are categorized as having severe degree of Covid-19 infection. Such children may be having severe pneumonia, Acute Respiratory Distress Syndrome, Septic Shock, Multi-organ dysfunction syndrome (MODS), or pneumonia with cyanosis. Clinically, such children may present with grunting, severe retraction of chest, lethargy, somnolence, seizure.
                Such children should be admitted in Dedicated Covid Hospital/ Secondary/ Tertiary level healthcare facility. Few children may required care in HDU/ICU areas of these facilities. They should be assessed for: thrombosis, haemophagocytic lymphohistiocytosis (HLH), and organ failure.
                Steroids have to be tapered over monitoring inflammatory markers
            </p>
         </div>
    </div>
</section>      
