<div class="container-fluid p-2">
    <div class="header">
        <h5 class="para text-center">Cases Which Are Upto Date</h5>
        <p class="para">
            The Covid pandemic has opened doors for learning important lessons with regard to the country’s health situation and preparedness in general as well as underlined the need to redesign welfare systems, Noble laureate and renowned economist Abhijit Banerjee said on Sunday. While addressing a webinar organised by the Jodhpur-based National Institute for Implementation Research on Non-Communicable Diseases, Banerjee focused on the economic aspect of the health situation, welfare and healthcare systems in the country, PTI reported.
            President Ram Nath Kovind on Sunday urged people to embrace yoga as an essential party of daily life to fight the pandemic better. “We all should make Pranayam and Yoga an essential part of our daily life and together we should spread it in the society. With this, we will not only be able to face the disaster brought by this pandemic, but also will be successful in building a healthy society and nation,” Kovind wrote on Twitter.
            India, in the last 24 hours, reported 50,040 new Covid-19 cases, according to data from the Union Health Ministry — a rise from its spike of 48,698 new cases a day ago. Kerala reported 12,118 new cases, while Maharashtra recorded 9,812.
            As many as 1,258 new fatalities were also recorded in the same duration. The number of active Covid-19 cases in India has declined to 5,95,565 or 2.03% of the total cases. As many as 2,91,93,085 patients have been cured of Covid-19 till now, with 64,818 of them being discharged in the last 24 hours alone.  
            .Delta Plus variant of coronavirus, which several experts say is more infectious.
         </div>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Active</th>
            <th>Confirmed</th>
            <th>Deaths</th>
            <th>DeltaConfirmed</th>
            <th>DeltaDeaths</th>
            <th>DeltaRecovered</th>
            <th>Lastupdatedtime</th>
            <th>MigratedOther</th>
        </tr>
</thead>
<tbody>
    <tr>
        <td>{{key_values.active}}</td>
        <td>{{key_values.confirmed}}</td>
        <td>{{key_values.deaths}}</td>
        <td>{{key_values.deltaconfirmed}}</td>
        <td>{{key_values.deltadeaths}}</td>
        <td>{{key_values.deltarecovered}}</td>
        <td>{{key_values.lastupdatedtime}}</td>
        <td>{{key_values.migratedother}}</td>
    </tr>
</tbody>
</table>